[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "==1.7.9"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
invoke = "*"
rstcheck = "*"
sphinx-hoverxref = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
